/* Main Format */

body {
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Sub Format */

.page {
  background-color: hsl(212, 22%, 14%);
  height: 26rem;
    width: 21.75rem;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 0;
}

.page-image {
  width: 100%;
  display: flex;
  padding-top: 1.3rem;
}

.page h1 {
  width: 100%;
}
.page p {
  width: 100%;
  line-height: 1.5rem;
}

.page-numbers {
    width: 21.313rem;
    margin: 0;}

form {
  width: 100%;
}

form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0;
  padding-bottom: 2rem;
}

input {
  border: 0;
  color: white;
  font-family: "Overpass", sans-serif;
  text-align: center;
}

input:hover {
  color: white;
  cursor: pointer;
}

.page-image > div,
form > div > input {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form > div > input {
  height: 51px;
  width: 51px;
}
.page-image > div {
  height: 48px;
  width: 48px;
}
.page-image > div, .darkGrey{
    background-color: hsl(213, 19%, 18%);
}

.lightGrey{
  background-color:hsl(217, 12%, 63%);
}

button {
    width: 100%;
  border-left: 20rem;
    height: 2.813rem;
  border-radius: 25px;
  background-color: hsl(25, 97%, 53%);
  color: white;
  border: none;
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
}

button:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

form,
.page-numbers {
  padding-bottom: 1rem;
}

form > div > input:hover {
  background-color: hsl(25, 97%, 53%);
  cursor: pointer;
}

.success {
  background-color: hsl(212, 22%, 14%);
  height: 26rem;
  width: 21.75rem;
  border-radius: 30px;
  display: none;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 0;
}

.success-appreciate {
  text-align:center;
  margin-top: 0;
  padding: 0 0.25rem 0;
      line-height: 1.666;

}


.success-image {
  padding-top: 2rem;
}


.success-selected {
  width: 12.06rem;
  border-left: 20rem;
  height: 2rem;
  border-radius: 25px;
  background-color: hsl(213, 19%, 18%);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Text mods */

h1 {
  font-family: "Overpass", sans-serif;
  color: white;
    font-size: 1.75rem;
  font-weight: 200;
  margin-bottom: 0;
}

p {
  font-family: "Overpass", sans-serif;
  color: hsl(217, 12%, 63%);
      font-size: 0.9375em;
}

.success h2 {
    margin-top: 1rem;
    font-size: 1.810rem;

}

.success p {
  font-size: 0.9rem;
}
.success-selected span,
.success-selected p {
  color: hsl(25, 97%, 53%);
  margin: 0;
}

@media (max-width: 375px) {

  .page,
  .success {
    width: 17.44rem;
    padding: 0 1.5rem;
    height: auto;
    border-radius: 13px;
  }

  .success-image {
    padding: 2rem 0 1.5rem 0;
        width: 9rem;
  }

  button {
    width: 100%;
  }

  p {
    font-family: "Overpass", sans-serif;
    color: hsl(217, 12%, 63%);
    font-size: 0.86rem;
    margin: 0;
        line-height: 1.53rem;
  }

  .success-appreciate {
    padding: 0 0 2.48rem 0;
  }

  .page-image > div {
    height: 40px;
    width: 40px;
  }
 
  form > div > input {
    height: 42px;
    width: 42px;
  }

  h2 {
    font-size: 23px;
    margin: 1rem 0 1.17rem 0;
  }

  .page p {
    padding: 0.9rem 0 1.8rem 0;
  }

.page p {
    line-height: 1.5rem;
  }

  .page-image {
    padding-top: 1.5rem;
  }

  form > div {
    padding-bottom: 1.4rem;
  }

  form {
    padding-bottom: 1rem;
  }
  .page-numbers{
    padding: 1.1rem 0 1rem 0;
        width: 17.44rem;

  }
  .success-selected {
    margin-bottom: 1.5rem;
        width: 10.5rem;

}
.success h2 {
    padding-bottom: 1rem;
        font-size: 1.5rem;
    margin: 0;
}
.success p {
    font-size: 0.83rem;
}

}